* {
	box-sizing: border-box;
}

#test {
  position: relative;
  z-index: 15;
  max-width: 500px;
  margin: 0 auto;
  input,
  textarea,
  label {
    display: block;
    width: 100%;
  }
}

.invert {
   filter: invert(100%);
   body {
    background: white !important;
   }
   .twinkling {
   		display: none !important;
   }
}

.uppercase {
  text-transform: uppercase;
}

.fixed {
  position: relative;
  overflow: hidden;
}

.twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.twinkling {
  background:transparent url('assets/twinkling.png') repeat top center;
  z-index:1;
  animation:move-twink-back 100s linear infinite;
}

body {
	font-family: $font_main;
	font-size: 18px;
	line-height: 1.7;
	background: black;
	background: black url('assets/stars2.png') repeat top center;
	position: relative;
  padding-top: 30px;
}

h1 {
	font-family: $font_style;
	text-align: center;
}

h2,
h3 {
	font-family: $font_style;
	text-transform: uppercase;
}

button {
  @include button;
}

legend {
  padding: 2px 6px;
  background: black;
  font-family: $font_style;
}

fieldset {
  border: 1px solid white;
  margin-bottom: 30px;
}

.wrapper--inner {
	@include wrapper(800px);
}

.wrapper--outer {
	@include wrapper(1200px);
}

.fb-container {
	display: flex;
}

@keyframes move-twink-back {
    0% {
    	background-position:0 0;
    }
    50% {
    	background-position: 1000px 500px;
    }
    80% {
    	background-position: 0px 0;
    }
    100% {
    	background-position: -500px -1000px;
    }
}

