@mixin visually-hidden {
	position: absolute !important;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

@mixin wrapper($width) {
	max-width: $width;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

@mixin column-number($column) {
	width: calc(100% / #{$column})
}

@mixin reset {
	padding: 0;
	margin: 0;
	list-style: none;
}

/* IMPORTANT: container must be set to position: relative; */
@mixin sideways {
	display: inline-block;
	position: absolute;
	transform: rotate(270deg);
	bottom: 20px;
}

@mixin button {
	color: white;
	text-decoration: none;
	font-family: "Inconsolata", monospace;
	background: transparent;
	margin-top: 40px;
	padding: 10px 20px;
	border: 2px solid white;
	transition: background 0.3s, color 0.3s, border 0.3s;
	&:hover,
	&:focus {
		background: $accent;
		color: black;
		border: 2px solid $accent;
	}
}