footer {
	position: relative;
	color: white;
	padding: 10px;
	.wrapper--outer {
		position: relative;
		z-index: 5;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	h2 {
		text-transform: none;
	}
}

.social {
	display: flex;
	align-items: center;
	ul {
		@include reset;
		display: flex;
		justify-content: center;
	}
	li {
		padding:  3px 7px;
	}
	a {
		@include button;
	}
}

.copyright {
	margin: 0;
}